<div id="header-wrap">


    <header id="header" class="container clearfix" role="banner">

      <div id="logo" style="width: 100%">

        <div style="float: left; width: 100%">
          <p class="site-title">
            <a href="./ch-churchinurbana.html" rel="home">厄巴纳召会</a>
          </p>
      </div>
        <div style="float: right;">
          <p> 
            <a style="color: white" href="http://churchinurbana.org/">English Version</a>
          </p>
        </div>
        <div style="float: left">
          <p class="site-description"> 基督是我们的生活 &#8211; 歌罗西书三章四节</p>
        </div>


      </div>

      <div id="header-content" class="clearfix">



      </div>

    </header>

    <div id="navigation-wrap">

      <div id="navigation" class="container clearfix">


        <nav id="mainnav" class="clearfix" role="navigation">
          <ul id="mainnav-menu" class="main-navigation-menu menu">
            <li class="page_item page-item-85 current_page_item">
              <a href="./ch-churchinurbana.html" aria-current="page">欢迎</a>
            </li>
            <li class="page_item page-item-19">
              <a href="./ch-statement-of-faith.html">我们的信仰</a>
            </li>
            <li class="page_item page-item-124">
              <a href="./ch-our-meeting.html">我们的聚会</a>
            </li>
            <li class="page_item page-item-130">
              <a href="./ch-campus-ministry.html">校园活动</a>
            </li>
            <li class="page_item page-item-97 page_item_has_children">
              <a href="./ch-conferences-and-trainings.html">活动</a>
              <ul class='children'>
                <li class="page_item page-item-57">
                  <a href="./ch-college-training.html">大学生训练</a>
                </li>
                <li class="page_item page-item-99">
                  <a href="http://churchinurbana.org/conferences-and-trainings/conferences/">特会</a>
                </li>
              </ul>
            </li>
            <li class="page_item page-item-123">
              <a href="./ch-additional-clinks.html">联系我们</a>
            </li>
            <li class="page_item page-item-284">
              <a href="http://churchinurbana.org/library/">图书馆</a>
            </li>
          </ul>
        </nav>

      </div>

    </div>

  </div>